<form action="/payment/results">
  <label for="val1">APR</label>
  <input id="val1" placeholder ="E.g. 5.42" name="apr"></br>

  <label for="val2">Number of years</label>
  <input id="val2" placeholder ="How many years to repay?" name="years"></br>

  <label for="val3">Principal</label>
  <input id="val3" placeholder ="How much principal?" name="principal"></br>

  <button>Calculate monthly payment</button>
</form>
