<form action="/random/results">
  <label for="val1">Minimum</label>
  <input id="val1" placeholder ="E.g. 1.5" name="min"></br>

  <label for="val2">Maximum</label>
  <input id="val2" placeholder ="E.g. 1.5?" name="max"></br>

  <button>Pick random number</button>
</form>
