<form action="/square/results">
  <label for="val1">Enter a number</label></br>
  <input id="val1" placeholder ="What number do you want to square" name="value_to_square"></br>
  <button>Calculate square</button>
</form>
