<form action="/square_root/results">
  <label for="val1">Enter a number</label></br>
  <input id="val1" placeholder ="What number do you want to square" name="value_to_square_root"></br>
  <button>Calculate square root</button>
</form>
